{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-list-alt"></span>
                从Excel批量上传
            </div>
            <div class="panel-body">
                <form method="post" enctype="multipart/form-data" action="/dep/upload/">
                    <div class="form-group">
                        <input type="file" name="avatar">
                    </div>
                    <input type="submit" name="提交" class="btn">
                </form>
            </div>
        </div>


        {#按钮#}
        <div style="margin-bottom: 20px">
            <a class="btn btn-success" href="/dep/add/" target="_blank">
                <span class="glyphicon glyphicon-plus-sign"></span>
                新增
            </a>
        </div>


        {#table#}
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list"></span>
                部门列表
            </div>

            <!-- Table -->
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>名称</th>
                    <th>操作</th>
                </tr>
                </thead>

                <tbody>
                {% for dep in dep_set %}
                    <tr>
                        <th scope="row">{{ dep.id }}</th>
                        <td>{{ dep.title }}</td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="/dep/edit/{{ dep.id }}/">编辑</a>
                            <a class="btn btn-danger  btn-sm" href="/dep/del/?id={{ dep.id }}">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
{% endblock %}

