{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="{% static 'plugins/bootstrap-3.4.1-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <style>
        .account {
            width: 600px;
            border: 2px solid #dddddd;
            border-radius: 15px;
            box-shadow: 5px 5px 20px #aaaaaa;

            margin: 300px auto;
            padding: 20px 40px;
        }

        .account h2 {
            margin-top: 10px;
            text-align: center;
        }

    </style>
</head>
<body>
<div class="account">
    <h2>Login</h2>
    <form method="post" novalidate>
        {% csrf_token %}
        <div class="form-group">
            <label>UserName</label>
            {{ form.name }}
            <span style="color: red">{{ form.username.errors.0 }}</span>
        </div>
        <div class="form-group">
            <label>Password</label>
            {{ form.password }}
            <span style="color: red">{{ form.password.errors.0 }}</span>
        </div>
        <div class="form-group">
            <label>验证码</label>
            <div class="row">
                <div class="col-xs-6">
                    {{ form.code }}
                    <span style="color:red;">{{ form.code.errors.0 }}</span>
                </div>
                <div class="col-xs-6">
                    <img id="checkcode" height="36px">
                </div>
            </div>
        </div>
        <input type="submit" class="btn btn-primary" value="Login" style="display:block; margin:0 auto;">
    </form>

</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var captchaImage = document.getElementById('checkcode');

        // 定义一个函数用于更新验证码
        function refreshCaptcha() {
            // 为了防止浏览器缓存，可以在URL后面加上当前时间戳作为查询参数
            captchaImage.src = '/img/?_=' + new Date().getTime();
        }

        // 绑定点击事件到验证码图片上
        captchaImage.addEventListener('click', refreshCaptcha);

        // 可选：页面加载时也刷新一次验证码
        refreshCaptcha();
    });
</script>
</body>
</html>